.Weather form {
  padding: 0 40px 0;
}

.Weather .city,
.Date {
  font-size: 25px;
  padding-top: 15px;
}

.Weather .WeatherTemperature {
  font-size: 100px;
}

.Weather .WeatherTemperature .unit {
  font-size: 30px;
  position: relative;
  top: -50px;
}

.Weather .WeatherDesc {
  font-size: 30px;
  position: relative;
  top: -50px;
}

.Weather canvas {
  position: relative;
  top: 20px;
}

.Weather .CurrentWeather {
  font-size: 30px;
  position: relative;
  top: -40px;
}
